<server>

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonb-1.0</feature>
        <!-- tag::mpHealth[] -->
        <feature>mpHealth-2.2</feature>
        <!-- end::mpHealth[] -->
        <feature>mpConfig-1.4</feature>
        <feature>mpRestClient-1.4</feature>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
    </featureManager>
        
</server>
